Null Hypthesis H0: Both old and new machines average speed of packing jars are not statsitically different
    
Alternate Hypothesis H1: Both old and new machines average speed of packing jars are statsitically different

In [29]:
new_machine=[42.1,41,41.3,41.8,42.4,42.8,43.2,42.3,41.8,42.7]
old_machine=[42.7,43.6,43.8,43.3,42.5,43.5,43.1,41.7,44,44.1]

data=pd.DataFrame(columns=['new_machine','old_machine'])
data['new_machine']=new_machine
data['old_machine']=old_machine

In [30]:
data

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [31]:
import numpy as np
len(data.new_machine), np.mean(data.new_machine), np.std(data.new_machine)

(10, 42.14, 0.6483826030978941)

In [32]:
len(data.old_machine), np.mean(data.old_machine), np.std(data.old_machine)

(10, 43.230000000000004, 0.7114070564732956)

In [33]:
from scipy.stats import ttest_ind, norm
ttest_ind(data.old_machine, data.new_machine)

Ttest_indResult(statistic=3.3972307061176026, pvalue=0.0032111425007745158)

We reject the null hypothesis.

We can say with 95% of confidence that we have enough evidence to discard the null hypothesis.

The average speed between packing speed of old and new machines are not the same.

Comparing the means, and checking the positive t-statistic value we can say old machines pack faster.

In [39]:
data1 = pd.read_csv("files_for_lab\student_gpa.csv", sep = "\")

SyntaxError: EOL while scanning string literal (3879572960.py, line 1)

Couldnt read this data from student_gpa file in the right format. Didn't spend more time on this as it was mentioned optional :)

In [40]:
data1

   Sophomores\t  Juniors
0     3.04\t        2.56
1     1.71\t        2.77
2     3.3\t          2.7
3        2.88\t        3
4     2.11\t        2.98
5    2.6\t          3.47
6     2.92\t        3.26
7     3.6\t          3.2
8     2.28\t        3.19
9     2.82\t        2.65
10       3.03\t        3
11    3.13\t        3.39
12    2.86\t        2.58
13                3.49\t
14                3.11\t
15                2.13\t
16                  3.27